@model InAndOut.Models.Transaccion
    <body style="background-color: #2740B4;">
        <form method="post" asp-action="Update">
            <input asp-for="Id" hidden />
            <br />
            <div class="border p-3 border-white">
                <div class="form-group row">
                    <h1 class="offset-4 text-white pl-3" style="font-family:Candara;"><b>Editar Transacción</b></h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-5">
                                <label asp-for="Nombre" class="offset-2" style="font-family: Cambria; color: #62DBF2;"><b>Nombre</b></label>
                                <input asp-for="Nombre" class="form-control offset-2 text-dark" style="font-family:Cambria; color:black" />
                                <span asp-validation-for="Nombre" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-5">
                                <label asp-for="Apellido" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Apellido</b></label>
                                <input asp-for="Apellido" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Apellido" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                                <br />
                            </div>

                            <div class="col-5">
                                <label asp-for="Ciudad" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Ciudad</b></label>
                                <input asp-for="Ciudad" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Ciudad" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-5">
                                <label asp-for="Direccion" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Dirección</b></label>
                                <input asp-for="Direccion" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Direccion" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                                <br />
                            </div>

                            <div class="col-5">
                                <label asp-for="Cedula" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Cédula</b></label>
                                <input asp-for="Cedula" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Cedula" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-5">
                                <label asp-for="Fecha" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Fecha y Hora</b></label>
                                <input asp-for="Fecha" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Fecha" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                            </div>

                            <div class="col-5">
                                <br />
                                <label asp-for="Valor" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Valor($)</b></label>
                                <input asp-for="Valor" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Valor" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-5">
                                <br />
                                <label asp-for="Tipo" class="offset-2" style="font-family: Cambria; color: #62DBF2 "><b>Tipo de Transacción</b></label>
                                <input asp-for="Tipo" class="form-control offset-2 text-dark" style="font-family: Cambria; color: black" />
                                <span asp-validation-for="Tipo" class="text-light offset-2" style="font-family:Candara; font-size:small"></span>
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-8 row offset-2">
                                <div class="col">
                                    <input type="submit" class="btn btn-success w-75 text-center" style="font-family:Candara" value="Editar" />
                                </div>
                                <div class="col offset-4" >
                                    <a asp-action="Index" class="btn btn-danger w-75 text-center" style="font-family:Candara">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>

        @*Validación del lado del Client*@
        @section Scripts{
            @{<partial name="_ValidationScriptsPartial" />}
        }
