@{
    ViewData["Title"] = "Política de Privacidad";
}

<body style="background-color: #2740B4; ">
    <br />
    <br />
    <h1 style="text-align: center; color: #ffffff">---------------------------------------------------------------------</h1>
    <h1 style="font-family: Candara; font-size: xx-large; text-align: center; color: #ffffff">@ViewData["Title"]</h1>
    <h1 style="text-align: center; color: #ffffff">---------------------------------------------------------------------</h1>
    <br />
    <br />
    <p style="font-family:Cambria; color:antiquewhite; text-align:center">Esta es una página web de pruebas diseñada por el equipo <i>IBM Cloud Tech Sales Colombia.</i></p>
    <br />
    <p style="font-family: Cambria; color: antiquewhite; text-align: center ">2021</p>
</body>

