@*Con ViewBag*@
@*@model InAndOut.Models.Expense*@

@*Con ViewModel*@
@model InAndOut.Models.ViewModels.ExpenseVM

    <body style="background-color: #2740B4;">
        <form method="post" asp-action="Update">
            @*Con ViewBag*@
            @*<input asp-for="Id" hidden />*@

            @*Con ViewModel*@
            <input asp-for="Expense.Id" hidden />
            <br />
            <div class="border p-3 border-white">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Agregamos validación--> *@
                <div class="form-group row">
                    <h2 class="offset-5 text-white pl-3" style="font-family:Candara;"><b>Editar Gasto</b></h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-4">
                                @*Con ViewBag*@
                                @*<label asp-for="ExpenseName"></label>*@ <!-- Queremos publicar específicamente esta información en nuestro gasto-->
                                @*Con ViewModel*@
                                <label asp-for="Expense.ExpenseName"  style="font-family: Cambria; color: #62DBF2;"><b>Gasto</b></label>
                            </div>
                            <div class="col-4">
                                @*Con ViewBag*@
                                @*<label asp-for="Amount"></label>*@

                                @*Con ViewModel*@
                                <label asp-for="Expense.Amount" style="font-family: Cambria; color: #62DBF2;"><b>Valor ($)</b></label>
                            </div>
                            <div class="col-4">
                                <!--Con ViewModel-->
                                <label asp-for="Expense.ExpenseType"  style="font-family: Cambria; color: #62DBF2;"><b>Tipo de Gasto</b></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                @*Con ViewBag*@
                                @*<input asp-for="ExpenseName" class="form-control" />
                                    <span asp-validation-for="ExpenseName" class="text-danger"></span>*@ <!--Nos muestra el mensaje de error de validación-->
                                @*Con ViewModel*@
                                <input asp-for="Expense.ExpenseName" class="form-control" style="font-family:Cambria"/>
                                <span asp-validation-for="Expense.ExpenseName" class="text-light" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-4">
                                @*Con ViewBag*@
                                @*<input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>*@ <!--Nos muestra el mensaje de error de validación-->
                                @*Con ViewModel*@
                                <input asp-for="Expense.Amount" class="form-control" style="font-family:Cambria"/>
                                <span asp-validation-for="Expense.Amount" class="text-light" style="font-family:Candara; font-size:small"></span>
                            </div>
                            <div class="col-4">
                                <!--Con VieModel-->
                                <select asp-for="Expense.ExpenseTypeId" asp-items="@Model.TypeDropDown" class="form-control" style="font-family:Cambria">
                                    <option selected>--Select Expense Type--</option>
                                </select>
                                <span asp-validation-for="Expense.ExpenseTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-8 offset-2 row">
                                <div class="col">
                                    <input type="submit" class="btn btn-success w-75" style="font-family:Candara" value="Editar" />
                                </div>
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-danger w-75" style="font-family:Candara">Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>

        @*Validación del lado del Client*@
        @section Scripts{
            @{<partial name="_ValidationScriptsPartial" />}
        }
