@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #29A0CD; ">
    <div class="text-center" style="vertical-align:central">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-1 text-white" style="font-family:Gabriola"><b>Welcome</b></h1>
        <h2 class="display-4 text-white" style="font-family:Candara"><b>ASP.NET Core application</b></h2>
    </div>
</body>
